<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PeanutHotel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>hotelName</param-name>
    <param-value>Peanut Hotel</param-value>
  </context-param>
  <context-param>
    <param-name>numFloors</param-name>
    <param-value>15</param-value>
  </context-param>
  <context-param>
    <param-name>numRooms</param-name>
    <param-value>10</param-value>
  </context-param>
  <error-page>
    <exception-type>com.easywayout.RequestInvaludException</exception-type>
    <location>/requestinvalid.jspx</location>
  </error-page>
   <filter>
  	<display-name>LoginValidationFilter</display-name>
  	<filter-name>LoginValidationFilter</filter-name>
  	<filter-class>com.profoundsadness.LoginValidationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginValidationFilter</filter-name>
  	<url-pattern>/</url-pattern>
  </filter-mapping>
     <filter>
  	<display-name>WelcomeFilter</display-name>
  	<filter-name>WelcomeFilter</filter-name>
  	<filter-class>com.easywayout.WelcomeFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>WelcomeFilter</filter-name>
  	<url-pattern>/welcome.jspx</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
  	<display-name>RedirectFilter</display-name>
  	<filter-name>RedirectFilter</filter-name>
  	<filter-class>ca.on.senecac.prg556.common.RedirectFilter</filter-class>
  	<init-param>
      <param-name>url</param-name>
      <param-value>/reservations.jspx</param-value>
    </init-param>
    <init-param>
      <param-name>method</param-name>
      <param-value>REDIRECT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
  	<filter-name>RedirectFilter</filter-name>
  	<url-pattern>/</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
    <filter>
  	<display-name>LogoutFilter</display-name>
  	<filter-name>LogoutFilter</filter-name>
  	<filter-class>com.profoundsadness.LogoutFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LogoutFilter</filter-name>
  	<url-pattern>/logout.jspx</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
  	<display-name>ReservationsFilter</display-name>
  	<filter-name>ReservationsFilter</filter-name>
  	<filter-class>com.easywayout.ReservationsFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ReservationsFilter</filter-name>
  	<url-pattern>/reservations.jspx</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
  	<display-name>ReserveRoomFilter</display-name>
  	<filter-name>ReserveRoomFilter</filter-name>
  	<filter-class>com.profoundsadness.ReserveRoomFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ReserveRoomFilter</filter-name>
  	<url-pattern>/reserveroom.jspx</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
  	<display-name>SenHotelMenuFilter</display-name>
  	<filter-name>SenHotelMenuFilter</filter-name>
  	<filter-class>com.profoundsadness.SenHotelMenuFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>SenHotelMenuFilter</filter-name>
  	<url-pattern>/senhotelmenu.jspx</url-pattern>
  	<dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
</web-app>